@model IEnumerable<LionTaskManagementApp.Models.ActivationRequest>

<h2>Pending Approvals</h2>
<table class="table">
    <thead>
        <tr>
            <th>User Name</th>
            <th>User Email</th>
            <th>Requested Role</th>
            <th>Request Time</th>
            <th>Last Update Time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.UserName</td>
                <td>@request.UserEmail</td>
                <td>@request.RequestedRole</td>
                <td>@request.RequestTime</td>
                <td>@request.LastUpdateTime</td>
                <td>
                    <a asp-action="ViewActivationRequestDetail" asp-controller="Admin" asp-route-userId="@request.UserId" asp-route-requestRole="@request.RequestedRole" class="btn btn-info">View Detail</a>
                </td>
            </tr>
        }
    </tbody>
</table>