@model LionTaskManagementApp.Models.Poster.PosterInfo

<h2 class="text-center my-4">Poster Activation Request Details</h2>
<div class="container">
    <div class="row mb-3">
        <div class="col-md-6">
            <h4>Company Name:</h4>
            <p>@Model.CompanyName</p>
        </div>
        <div class="col-md-6">
            <h4>Full Name:</h4>
            <p>@Model.FullName</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <h4>Phone Number:</h4>
            <p>@Model.PhoneNumber</p>
        </div>
        <div class="col-md-6">
            <h4>Address Line 1:</h4>
            <p>@Model.AddressLine1</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <h4>Address Line 2:</h4>
            <p>@Model.AddressLine2</p>
        </div>
        <div class="col-md-6">
            <h4>City:</h4>
            <p>@Model.City</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <h4>State/Province:</h4>
            <p>@Model.StateProvince</p>
        </div>
        <div class="col-md-6">
            <h4>Zip Code:</h4>
            <p>@Model.Zipcode</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <h4>EIN:</h4>
            <p>@Model.EIN</p>
        </div>
        <div class="col-md-6">
            <h4>Industry Information:</h4>
            <p>@Model.IndustryInformation</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <form asp-action="ApproveRequest" method="post">
                <input type="hidden" name="id" value="@Model.PosterId" />
                <button type="submit" class="btn btn-success btn-block">Approve</button>
            </form>
        </div>
        <div class="col-md-6">
            <form asp-action="DenyRequest" method="post">
                <input type="hidden" name="id" value="@Model.PosterId" />
                <div class="form-group">
                    <label for="denyComments">Deny Comments:</label>
                    <textarea name="denyComments" class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-danger btn-block">Deny</button>
            </form>
        </div>
    </div>
</div>


