@using Microsoft.AspNetCore.SignalR
@model IEnumerable<LionTaskManagementApp.Models.ContractorNotificationModel>

@{
    ViewData["Title"] = "Notification Center";
}

<h1>Notification Center</h1>

@if (TempData["NotificationMessage"] != null)
{
    <div class="alert alert-info">
        @TempData["NotificationMessage"]
    </div>
    TempData.Remove("NotificationMessage");
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.IsNotified)</th>
            <th>@Html.DisplayNameFor(model => model.IsRead)</th>
            <th>Distance (miles)</th>
            <th>Budget (USD)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedDatetime)</th>
            <th>@Html.DisplayNameFor(model => model.ExpirationDatetime)</th>
            <th>View Detail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.IsNotified)</td>
                <td>@Html.DisplayFor(modelItem => item.IsRead)</td>
                <td>@Html.DisplayFor(modelItem => item.DistanceInMiles)</td>
                <td>@Html.DisplayFor(modelItem => item.Budget)</td>
                <td class="relative-time" data-datetime="@item.CreatedDatetime">@item.CreatedDatetime</td>
                <td class="relative-time" data-datetime="@item.ExpirationDatetime">@item.ExpirationDatetime</td>
                <td><a href="@Url.Action("TakerDetails", "Taker", new { id = item.TaskId })">View Detail</a></td>
            </tr>
        }
    </tbody>
</table>