@using LionTaskManagementApp.Models.Constants
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-6">Vertical Printer Can be Hired Anywhere</h2>

        @if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
        {
            if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SuccessMessage"]
                </div>
                TempData.Remove("SuccessMessage");
            }

            <!-- Show "My Tasks" button if the user is logged in and has the "Poster" or "Taker" role -->
            if (User.IsInRole(RoleConstants.Admin)) {
                <a href="@Url.Action("Index", "Admin")" class="btn btn-primary mt-4">Admin Center</a>
            }
            else if(User.IsInRole(RoleConstants.Poster) || User.IsInRole(@RoleConstants.Taker)) 
            {
                <a href="@Url.Action("ViewMyTask", "Home")" class="btn btn-primary mt-4">My Tasks</a>
                <a href="@Url.Action("Index", "Notification")" class="btn btn-secondary mt-4">Notification Center</a>
            } else if(User.IsInRole(RoleConstants.InactivePoster) || User.IsInRole(@RoleConstants.InactiveTaker)){
                if (User.IsInRole(RoleConstants.ActivationRequested))
                {
                    <div class="alert alert-warning">
                        Your activation request is pending. Please wait for the admin to approve your request.
                    </div>
                }
                else
                {
                    <div class="alert alert-warning">
                        Please complete your profile for activation
                    </div>
                    <a href="@Url.Action("CompleteProfile", "Home")" class="btn btn-primary mt-4">Complete Profile to be Activated</a>
                }
            } else {
                <div class="alert alert-warning">
                    User doesn't have a Poster or Taker Role.
                </div>
            }
    }
</div>
