@using LionTaskManagementApp.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@model LionTaskManagementApp.Models.TaskModel
@inject UserManager<TaskUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1>Task Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length) (inch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height) (inch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="TakerIndex">Back to List</a>
</div>

<div class="mt-3">
    @if (Model.Status.Equals(MyTaskStatus.Initialized.ToString()) && string.IsNullOrEmpty(Model.TakenById))
    {
        <a asp-action="RequestTask" asp-controller="Taker" asp-route-taskId="@Model?.Id" asp-route-doAccept="true" class="btn btn-success">Pick</a>
        <a asp-action="RequestTask" asp-controller="Taker" asp-route-taskId="@Model?.Id" asp-route-doAccept="false" class="btn btn-secondary">Not Interested</a>
    }
    else if (Model.Status.Equals(MyTaskStatus.Initialized.ToString()) && Model.TakenById.Equals(UserManager.GetUserId(User)))
    {
        <a asp-action="ProcessToInProgress" asp-controller="Taker" asp-route-taskId="@Model?.Id" asp-route-doAccept="true" class="btn btn-primary">Start the Work</a>
        <a asp-action="ProcessToInProgress" asp-controller="Taker" asp-route-taskId="@Model?.Id" asp-route-doAccept="false" class="btn btn-danger">Decline</a>
    }
    else if (Model.Status.Equals(MyTaskStatus.InProgress.ToString()) && Model.TakenById.Equals(UserManager.GetUserId(User)))
    {
        <a asp-action="RequestProjectComplete" asp-controller="Taker" asp-route-taskId="@Model?.Id" class="btn btn-success">Complete Project</a>
    } else if(Model.Status.Equals(MyTaskStatus.Completed.ToString()))
    {
        var user = await UserManager.FindByIdAsync(Model.TakenById);
        <div id="notification-bar" class="alert alert-success">
            <span> @user.Name</span> completed the task!
        </div>
    }
</div>

@if (TempData["RequestResult"] != null)
{
    <div class="alert alert-success">
        @TempData["RequestResult"]
    </div>
    TempData.Remove("RequestResult");
}

